@charset "utf-8";

$primary: #ea7773;
$dark: #333945;
$text: white;
$link: hsl(0, 0%, 21%);
$link-hover: $primary;
$body-background-color: $dark;
$strong-color: white;

form {
  width: 500px;
  margin: auto;
}

@import "./bulma-0.8.2/bulma.sass";

th {
  text-align: center !important;
  color: white !important;
}
